#
# Realme X3 specific initialization component
#

on early-init
    # Boot time fs tuning
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/scheduler cfq
    write /sys/block/sde/queue/iosched/slice_idle 0
    write /sys/block/sde/queue/read_ahead_kb 2048
    write /sys/block/sde/queue/nr_requests 256
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/scheduler cfq
    write /sys/block/sdf/queue/iosched/slice_idle 0
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048
    write /sys/block/dm-3/queue/read_ahead_kb 2048
    write /sys/block/dm-4/queue/read_ahead_kb 2048
    write /sys/block/dm-5/queue/read_ahead_kb 2048
    write /sys/block/dm-6/queue/read_ahead_kb 2048
    write /sys/block/dm-7/queue/read_ahead_kb 2048
    write /sys/block/dm-8/queue/read_ahead_kb 2048
    write /sys/block/dm-9/queue/read_ahead_kb 2048

on init
    chown system system /proc/touchpanel/double_tap_enable
    chmod 0660 /proc/touchpanel/double_tap_enable

on post-fs
    mount none /my_product/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /my_product/etc/audio_policy_volumes.xml /vendor/etc/audio_policy_volumes.xml bind
    mount none /my_product/etc/default_volume_tables.xml /vendor/etc/default_volume_tables.xml bind
    mount none /vendor/lost+found /vendor/overlay bind

    rm /cache/boot_lc_main.txt
    rm /cache/boot_dmesg.txt
    start boot_lc_main
    start boot_dmesg

on property:sys.boot_completed=1
    # Runtime fs tuning
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sdf/queue/nr_requests 128

    # Back to default VM settings
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_background_ratio 10

    # Block layer tuning: discard chunk size up to 128MB
    # Otherwise, contiguous discards can be merged
    write /sys/block/sda/queue/discard_max_bytes 134217728

    # Set the default IRQ affinity to the silver cluster. When a
    # CPU is isolated/hotplugged, the IRQ affinity is adjusted
    # to one of the CPU from the default IRQ affinity mask.
    write /proc/irq/default_smp_affinity f

on property:vendor.post_boot.parsed=1
    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,5-6
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # ZRAM setup
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

    # Setup default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Setup CPU frequencies
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 1209600
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_freq 1785600
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 1171200
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpufreq/policy7/scaling_min_freq 1056000
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_freq 1612800

    # Setup schedutil rate limits
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/down_rate_limit_us 20000

    # Setup CPU input boost
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1632000 4:1612800 7:1497600"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100

    # Setup llccbw and ddrbw max_freq
    write /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/max_freq 15258
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/max_freq 7980

    # Setup scheduler parameters
    write /proc/sys/kernel/sched_child_runs_first 1
    write /proc/sys/kernel/sched_conservative_pl 1

    # Override readahead to 128KiB
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128
    write /sys/block/dm-6/queue/read_ahead_kb 128
    write /sys/block/dm-7/queue/read_ahead_kb 128
    write /sys/block/dm-8/queue/read_ahead_kb 128
    write /sys/block/dm-9/queue/read_ahead_kb 128
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sdb/queue/read_ahead_kb 128
    write /sys/block/sdc/queue/read_ahead_kb 128
    write /sys/block/sdd/queue/read_ahead_kb 128
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/read_ahead_kb 128

    # Allow GPU to nap
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 0

on property:init.svc.cnss_diag=running
    stop cnss_diag

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

on property:init.svc.face_hal=restarting
    stop face_hal

on property:vendor.usb.product_string=*
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.marketname}
    write /config/usb_gadget/g2/strings/0x409/product ${ro.product.marketname}

on property:gsm.version.baseband=*
    start set_baseband

service set_baseband /product/bin/init.set_baseband.sh
    class late_start
    user system
    group system
    oneshot

service prop-adap-core-gsi /odm/bin/self-init gsicore
    class core
    user root
    group root system radio
    oneshot
    override
    disabled

service prop-adap-main-gsi /odm/bin/self-init gsimain
    class main
    user root
    group root system radio
    oneshot
    override
    disabled
