#
# Realme X3 specific initialization component
#

on early-init
    # Disable UFS clock scaling
    write /sys/bus/platform/devices/1d84000.ufshc/clkscale_enable 0

    # Boot time fs tuning
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/scheduler cfq
    write /sys/block/sde/queue/iosched/slice_idle 0
    write /sys/block/sde/queue/read_ahead_kb 2048
    write /sys/block/sde/queue/nr_requests 256
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/scheduler cfq
    write /sys/block/sdf/queue/iosched/slice_idle 0
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048
    write /sys/block/dm-3/queue/read_ahead_kb 2048
    write /sys/block/dm-4/queue/read_ahead_kb 2048
    write /sys/block/dm-5/queue/read_ahead_kb 2048
    write /sys/block/dm-6/queue/read_ahead_kb 2048
    write /sys/block/dm-7/queue/read_ahead_kb 2048
    write /sys/block/dm-8/queue/read_ahead_kb 2048
    write /sys/block/dm-9/queue/read_ahead_kb 2048

on fs
    mkdir /mnt/vendor/oppo_product 0771 system system
    mkdir /mnt/vendor/oppo_version 0771 system system
    mount ext4 /dev/block/mapper/version.${ro.vendor.version_variant} /mnt/vendor/oppo_version ro
    mount ext4 /dev/block/mapper/oppo_product /mnt/vendor/oppo_product ro

on post-fs
    mount none /system/bin/hw/android.hardware.power@1.2-service /vendor/bin/hw/android.hardware.power@1.2-service bind
    mount none /system/etc/fstab.qcom /vendor/etc/fstab.qcom bind
    mount none /system/etc/msm_irqbalance.conf /vendor/etc/msm_irqbalance.conf bind
    mount none /oppo_product/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /oppo_product/etc/audio_policy_volumes.xml /vendor/etc/audio_policy_volumes.xml bind
    mount none /oppo_product/etc/default_volume_tables.xml /vendor/etc/default_volume_tables.xml bind
    mount none /vendor/lost+found /vendor/overlay bind

    mount none /dev/null /vendor/lib/hw/lights.msmnile.so bind
    mount none /dev/null /vendor/lib/hw/android.hardware.light@2.0-impl.so bind
    mount none /dev/null /vendor/lib64/hw/lights.msmnile.so bind
    mount none /dev/null /vendor/lib64/hw/android.hardware.light@2.0-impl.so bind

on property:sys.boot_completed=1
    # Enable UFS clock scaling back
    write /sys/bus/platform/devices/1d84000.ufshc/clkscale_enable 1

    # Runtime fs tuning
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sdf/queue/nr_requests 128

    # Back to default VM settings
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_background_ratio 10

    # Block layer tuning: discard chunk size up to 128MB
    # Otherwise, contiguous discards can be merged
    write /sys/block/sda/queue/discard_max_bytes 134217728

    # Set the default IRQ affinity to the silver cluster. When a
    # CPU is isolated/hotplugged, the IRQ affinity is adjusted
    # to one of the CPU from the default IRQ affinity mask.
    write /proc/irq/default_smp_affinity f

on property:vendor.post_boot.parsed=1
    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,5-6
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # ZRAM setup
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

    # Setup default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Setup schedutil rate limits
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/down_rate_limit_us 1000

    # Setup schedutil hispeed freq
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_freq 2016000
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_freq 2323200

    # Use perf governor on little cluster
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"

    # Configure scheduler parameters
    write /proc/sys/kernel/sched_child_runs_first 1
    write /proc/sys/kernel/sched_tunable_scaling 1

    # Override readahead to 128KiB
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128
    write /sys/block/dm-6/queue/read_ahead_kb 128
    write /sys/block/dm-7/queue/read_ahead_kb 128
    write /sys/block/dm-8/queue/read_ahead_kb 128
    write /sys/block/dm-9/queue/read_ahead_kb 128
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sdb/queue/read_ahead_kb 128
    write /sys/block/sdc/queue/read_ahead_kb 128
    write /sys/block/sdd/queue/read_ahead_kb 128
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/read_ahead_kb 128

on property:init.svc.face_hal=restarting
    stop face_hal

service prop-adap-core-gsi /vendor/bin/self-init gsicore
    class core
    user root
    group root system radio
    oneshot
    override
    disabled

service prop-adap-main-gsi /vendor/bin/self-init gsimain
    class main
    user root
    group root system radio
    oneshot
    override
    disabled

service perf-hal-2-0 /vendor/bin/hw/vendor.qti.hardware.perf@2.0-service
    class hal
    user root
    group root readproc oem_2907
    override
    disabled
