on boot
    # CABC
    chown system system /sys/kernel/oppo_display/cabc
    chmod 0644 /sys/kernel/oppo_display/cabc

    # Vibration Strength
    chown system system /sys/class/leds/vibrator/vmax
    chmod 0644 /sys/class/leds/vibrator/vmax

    # Game Mode
    chown system system /proc/touchpanel/game_switch_enable
    chmod 0644 /proc/touchpanel/game_switch_enable

    chown system system /proc/touchpanel/oppo_tp_direction
    chmod 0644 /proc/touchpanel/oppo_tp_direction

    chown system system /proc/touchpanel/oppo_tp_limit_enable
    chmod 0644 /proc/touchpanel/oppo_tp_limit_enable

# CABC
on property:persist.cabc_profile=*
    write /sys/kernel/oppo_display/cabc ${persist.cabc_profile}

# Vibration Strength
on property:persist.vib_strength=*
    write /sys/class/leds/vibrator/vmax ${persist.vib_strength}

# Game Mode
on property:perf_profile=1
    write /dev/stune/top-app/schedtune.boost 10

on property:perf_profile=0
    write /dev/stune/top-app/schedtune.boost 1
